In [1]:
import pandas as pd

In [30]:
model_A = pd.read_csv('29042017_1.csv', usecols=['is_duplicate'])
model_B = pd.read_csv('29042017_2.csv', usecols=['is_duplicate'])
merged = pd.concat([model_A, model_B], axis=1)

In [36]:
final_model = pd.DataFrame()
final_model['is_duplicate'] = merged.mean(axis=1)
final_model.to_csv(
    path_or_buf='final.csv',
    index_label='test_id'
)

In [37]:
final_model

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>is_duplicate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0.981420</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0.968805</td>
    </tr>
    <tr>
      <th>2</th>
      <td>0.628921</td>
    </tr>
    <tr>
      <th>3</th>
      <td>0.565149</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0.513186</td>
    </tr>
    <tr>
      <th>5</th>
      <td>0.599045</td>
    </tr>
    <tr>
      <th>6</th>
      <td>0.657203</td>
    </tr>
    <tr>
      <th>7</th>
      <td>0.997368</td>
    </tr>
    <tr>
      <th>8</th>
      <td>0.723188</td>
    </tr>
    <tr>
      <th>9</th>
      <td>0.984428</td>
    </tr>
    <tr>
      <th>10</th>
      <td>0.652051</td>
    </tr>
    <tr>
      <th>11</th>
      <td>0.963959</td>
    </tr>
    <tr>
      <th>12</th>
      <td>0.987761</td>
    </tr>
    <tr>
      <th>13</th>
      <td>0.516782</td>
    </tr>
    <tr>
      <th>14</th>
      <td>0.632439</td>
    </tr>
    <tr>
      <th>15</th>
      <td>0.669120</td>
    </tr>
    <tr>
      <th>16</th>
      <td>0.940527</td>
    </tr>
    <tr>
      <th>17</th>
      <td>0.942907</td>
    </tr>
    <tr>
      <th>18</th>
      <td>0.861282</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0.677536</td>
    </tr>
    <tr>
      <th>20</th>
      <td>0.999750</td>
    </tr>
    <tr>
      <th>21</th>
      <td>0.931072</td>
    </tr>
    <tr>
      <th>22</th>
      <td>0.656762</td>
    </tr>
    <tr>
      <th>23</th>
      <td>0.995067</td>
    </tr>
    <tr>
      <th>24</th>
      <td>0.997804</td>
    </tr>
    <tr>
      <th>25</th>
      <td>0.892635</td>
    </tr>
    <tr>
      <th>26</th>
      <td>0.592797</td>
    </tr>
    <tr>
      <th>27</th>
      <td>0.810870</td>
    </tr>
    <tr>
      <th>28</th>
      <td>0.999671</td>
    </tr>
    <tr>
      <th>29</th>
      <td>0.999857</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>2345766</th>
      <td>0.742770</td>
    </tr>
    <tr>
      <th>2345767</th>
      <td>0.976836</td>
    </tr>
    <tr>
      <th>2345768</th>
      <td>0.620211</td>
    </tr>
    <tr>
      <th>2345769</th>
      <td>0.993892</td>
    </tr>
    <tr>
      <th>2345770</th>
      <td>0.783383</td>
    </tr>
    <tr>
      <th>2345771</th>
      <td>0.988071</td>
    </tr>
    <tr>
      <th>2345772</th>
      <td>0.998772</td>
    </tr>
    <tr>
      <th>2345773</th>
      <td>0.852153</td>
    </tr>
    <tr>
      <th>2345774</th>
      <td>0.672495</td>
    </tr>
    <tr>
      <th>2345775</th>
      <td>0.665541</td>
    </tr>
    <tr>
      <th>2345776</th>
      <td>0.672024</td>
    </tr>
    <tr>
      <th>2345777</th>
      <td>0.657390</td>
    </tr>
    <tr>
      <th>2345778</th>
      <td>0.611098</td>
    </tr>
    <tr>
      <th>2345779</th>
      <td>0.852153</td>
    </tr>
    <tr>
      <th>2345780</th>
      <td>0.963497</td>
    </tr>
    <tr>
      <th>2345781</th>
      <td>0.891831</td>
    </tr>
    <tr>
      <th>2345782</th>
      <td>0.740729</td>
    </tr>
    <tr>
      <th>2345783</th>
      <td>0.962953</td>
    </tr>
    <tr>
      <th>2345784</th>
      <td>0.547890</td>
    </tr>
    <tr>
      <th>2345785</th>
      <td>0.653061</td>
    </tr>
    <tr>
      <th>2345786</th>
      <td>0.629715</td>
    </tr>
    <tr>
      <th>2345787</th>
      <td>0.994150</td>
    </tr>
    <tr>
      <th>2345788</th>
      <td>0.988355</td>
    </tr>
    <tr>
      <th>2345789</th>
      <td>0.999693</td>
    </tr>
    <tr>
      <th>2345790</th>
      <td>0.696238</td>
    </tr>
    <tr>
      <th>2345791</th>
      <td>0.890889</td>
    </tr>
    <tr>
      <th>2345792</th>
      <td>0.632228</td>
    </tr>
    <tr>
      <th>2345793</th>
      <td>0.984300</td>
    </tr>
    <tr>
      <th>2345794</th>
      <td>0.999693</td>
    </tr>
    <tr>
      <th>2345795</th>
      <td>0.965126</td>
    </tr>
  </tbody>
</table>
<p>2345796 rows × 1 columns</p>
</div>